<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170320/1f7c0873-4587-41cc-9bd1-a173c6749251</string>
		<key>title</key>
		<string>晒早餐活动</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170321/a29bd979-948e-46e5-9a37-aa8c899121d5</string>
		<key>title</key>
		<string>饱腹又消脂，减肥好帮手</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170320/540a88bb-d4c9-44f8-b5c1-04fbd0a72aa9</string>
		<key>title</key>
		<string>春困靠吃来提神</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170319/e3841d6c-b946-44f2-ba78-6659fc6b84da</string>
		<key>title</key>
		<string>去你的废柴！“三流”货也有高级味</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170318/f7ec98ae-9c5f-4b76-9602-c956ed3d27bf</string>
		<key>title</key>
		<string>走！一块儿吃花去！</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170317/26cc39e7-043b-450d-bcb9-a0544d3ba0d6</string>
		<key>title</key>
		<string>地域小吃之河南的那一口</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170316/ba3555de-14f4-401e-b8c7-b6b587379eeb</string>
		<key>title</key>
		<string>补铁补血怎少的了菠菜</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>null</string>
		<key>path</key>
		<string>http://pic.daydaycook.com/production/images/20170315/cfad63dd-a53c-414b-8ced-6e999dad6c1e</string>
		<key>title</key>
		<string>跟我念，吃温春，思稳笋</string>
		<key>type</key>
		<string>1</string>
	</dict>
</array>
</plist>
