<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>click_count</key>
		<integer>387</integer>
		<key>description</key>
		<string>酱爆豆腐干炒肉丝</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170320/e3af5d85-2bc0-473e-ae89-88248e9ea4d3</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3425</integer>
		<key>share_count</key>
		<integer>5</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>今日三菜一汤</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>157</integer>
		<key>description</key>
		<string>@前后文化</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170320/223a9c8c-923f-4be2-9ac0-f68aac5ef7ad</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3424</integer>
		<key>share_count</key>
		<integer>6</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>114</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170320/40303456-9f4c-49be-82cb-53fd65990c1c</string>
			<key>authorName</key>
			<string>前后文化</string>
			<key>authorSummary</key>
			<string>前后文化［筷子频道］一起发现美的食物！
微博：前后文化</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>热腾腾的胡椒猪肚鸡煲</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>1562</integer>
		<key>description</key>
		<string>@膳叔</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170317/79f5d823-1836-403d-84c6-2c0d7cad97f9</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3414</integer>
		<key>share_count</key>
		<integer>10</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>97</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170317/3bad2e9b-e0e7-4978-8a8f-3da30a048842</string>
			<key>authorName</key>
			<string>膳叔</string>
			<key>authorSummary</key>
			<string>我叫膳叔，是一枚标准吃货，工作不忙的时候我还是个家庭煮夫和超级奶爸。作为一名有理想的营养师，我一直热衷于将自己研究的简单+快手+美味的营养餐做成图文或视频食谱分享给大家，你的关注就是对我最大的肯定。</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>低卡又营养, 鸡肉粉丝沙拉</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>2366</integer>
		<key>description</key>
		<string>清蒸鱼腩</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170317/84a6d00c-cebe-4368-a508-09a898806ba4</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3413</integer>
		<key>share_count</key>
		<integer>16</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>鱼：我很鲜嫩！你想吃吗？</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>1025</integer>
		<key>description</key>
		<string>@任芸丽</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170317/8a0ff292-fa59-42e3-b7b1-0de912f11326</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3412</integer>
		<key>share_count</key>
		<integer>1</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>37</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161214/a3b932ea-7cfd-4497-8072-0885896bd2b8</string>
			<key>authorName</key>
			<string>任芸丽</string>
			<key>authorSummary</key>
			<string>美食作家，资深媒体人，中国味道的研究者，传承地道家庭料理，融汇美食新知性。
微信：乐生活空间</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>日式乳酸卷心菜</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>5870</integer>
		<key>description</key>
		<string>@厨娘物语</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170316/c052a481-6504-4261-b3d3-ea2af6713631</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3411</integer>
		<key>share_count</key>
		<integer>49</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>22</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/34cb0a36-40f0-42d3-864e-0f109ea02c41</string>
			<key>authorName</key>
			<string>厨娘物语</string>
			<key>authorSummary</key>
			<string>有爱的生活美学，厨娘物语</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>DIY爆火的网红小吃</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>7935</integer>
		<key>description</key>
		<string>黄小厨&amp;日日煮</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170314/e24cfdfb-00f2-43c2-93aa-bbf491bc8543</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3409</integer>
		<key>share_count</key>
		<integer>39</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>竹笋最嫩是春天</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>4131</integer>
		<key>description</key>
		<string>@槑文化</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170316/30efa6b8-bf66-4060-b111-55ca2bb82cb6</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3408</integer>
		<key>share_count</key>
		<integer>30</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>88</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170309/d6eb8e41-791e-489f-bf32-2cd35304276b</string>
			<key>authorName</key>
			<string>槑文化</string>
			<key>authorSummary</key>
			<string>微博搜索：槑（mei）文化关注我吧。好好生活，呆呆文化。</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>超低卡的湿奶油虾</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>7678</integer>
		<key>description</key>
		<string>微体社区</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170316/5c6c1052-8295-4785-8641-642cc0a04e22</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3399</integer>
		<key>share_count</key>
		<integer>56</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>64</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170227/e904b71a-46c0-493e-9061-b7d7886111fb</string>
			<key>authorName</key>
			<string>微体社区</string>
			<key>authorSummary</key>
			<string>微体兔终于等到你啦！微体社区美食频道，每天一个原创视频，用简单清新的风格与大家分享吃的小幸福！</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>夜市味道，孜然面筋</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>8843</integer>
		<key>description</key>
		<string>胡辣汤</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170316/39221a8c-322f-4758-aada-933cddaba043</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3398</integer>
		<key>share_count</key>
		<integer>49</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>地域小吃之河南的那一口</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>5412</integer>
		<key>description</key>
		<string>@淘菜猫</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170316/46a01681-9c57-4fc8-a1bc-c393dbfb6767</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3397</integer>
		<key>share_count</key>
		<integer>44</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>69</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170302/6a6f3b67-9488-472b-a1bd-516a18cb6d05</string>
			<key>authorName</key>
			<string>淘菜猫</string>
			<key>authorSummary</key>
			<string>生鲜食材，私房菜谱，膳食营养，美食福利－关注我，关注美食与健康。</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>章鱼粉丝煲，美味吃不停</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>11414</integer>
		<key>description</key>
		<string>三文魚生菜沙拉</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170315/1bdfd320-13f9-4239-a19f-ce844d3018f4</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3395</integer>
		<key>share_count</key>
		<integer>61</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>瘦身系列之带你吃草</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>3024</integer>
		<key>description</key>
		<string>@妙馔</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170315/16e89ab7-63ad-48f3-abca-5576aed338b9</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3394</integer>
		<key>share_count</key>
		<integer>22</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>33</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161214/38b2a44a-4d67-4355-968f-1ffc20b406d6</string>
			<key>authorName</key>
			<string>妙馔</string>
			<key>authorSummary</key>
			<string>作者：Coffee cat   旅居欧洲十多年，现居汉堡。享受德国的古朴，宁静和自然。德国大学毕业后从事翻译，闲暇爱好烹饪美食，喜爱西餐文化。</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>罗勒番茄大蒜慢烤鸡腿</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>6908</integer>
		<key>description</key>
		<string>@Star·小猪</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170314/e7a86b45-c6ae-418e-9e0f-4714e4d779f4</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3389</integer>
		<key>share_count</key>
		<integer>12</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>27</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/bef656b6-d904-435e-833c-5a2a131d9b9e</string>
			<key>authorName</key>
			<string>Star·小猪</string>
			<key>authorSummary</key>
			<string>杭州人，做过美食专栏作家，现在供职互联网企业。她是日日煮粉丝群公认的早餐女神，每天用极高颜值的早餐唤醒群里所有人的味蕾。让你知道，这个世界有那么多美好的，积极的，向上的事情！</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>网红甜品-贝果能量早餐</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>6236</integer>
		<key>description</key>
		<string>芝心紫菜蛋卷</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170314/0b312647-d8a6-45ba-84f3-d9769f9e8763</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3388</integer>
		<key>share_count</key>
		<integer>20</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>卷物多滋味，美味卷上瘾</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>7208</integer>
		<key>description</key>
		<string>@小食运</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170314/b151330b-7fda-4a8e-901f-a1b741460b26</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3387</integer>
		<key>share_count</key>
		<integer>29</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>90</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170309/337ae98d-7267-438e-96da-e83106db2c7d</string>
			<key>authorName</key>
			<string>小食运</string>
			<key>authorSummary</key>
			<string>与你相遇，好食运</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>原来红糖还可以这样吃！</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>6675</integer>
		<key>description</key>
		<string>经典胡桃派</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170313/c932f2d0-abe6-462e-8b76-f6d8ac621232</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3385</integer>
		<key>share_count</key>
		<integer>16</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>3.14不是派，是给你的爱</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>7513</integer>
		<key>description</key>
		<string>@EATUP耳光料理</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170313/92680f5d-8e99-4455-bfbb-5dbd8184a042</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3384</integer>
		<key>share_count</key>
		<integer>36</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>91</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170309/3549d758-ff3b-4c83-b13f-2b57bb9d3898</string>
			<key>authorName</key>
			<string>EATUP耳光料理</string>
			<key>authorSummary</key>
			<string>用不复杂的手法还原食材的本味</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>不费劲的开胃菜 | 芥末鲜虾</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>13263</integer>
		<key>description</key>
		<string>@吃不胖的猫</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170313/a2c90992-1fba-4d7d-a287-328b5f301afe</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3371</integer>
		<key>share_count</key>
		<integer>109</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>23</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20170209/07047c3f-3330-46b8-8bee-7296de7f958f</string>
			<key>authorName</key>
			<string>吃不胖的猫</string>
			<key>authorSummary</key>
			<string>一枚web前端工程师的美食生活杂志</string>
			<key>displayAuthor</key>
			<integer>1</integer>
		</dict>
		<key>title</key>
		<string>用料简单、口感丰富“蔬菜烘蛋”</string>
	</dict>
	<dict>
		<key>click_count</key>
		<integer>17162</integer>
		<key>description</key>
		<string>黑椒虾球炸茄子</string>
		<key>image_url</key>
		<string>http://pic.daydaycook.com/production/images/20170313/f067119f-d68e-4acb-8a75-2b91d34ec928</string>
		<key>recipe_type</key>
		<string>01</string>
		<key>recommend_type</key>
		<string>2</string>
		<key>rid</key>
		<integer>3370</integer>
		<key>share_count</key>
		<integer>103</integer>
		<key>source</key>
		<dict>
			<key>authorId</key>
			<string>1</string>
			<key>authorImageUrl</key>
			<string>http://pic.daydaycook.com/production/images/20161130/1dfd7c44-ff47-43cd-b7a6-e52770ef41ca</string>
			<key>authorName</key>
			<string>小煮</string>
			<key>authorSummary</key>
			<string>生活就要极致</string>
			<key>displayAuthor</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>1,2,3，茄子！</string>
	</dict>
</array>
</plist>
